.related-vid {
  display: flex;
  margin-bottom: 10rem;
  margin-top: 10rem;
  border-style: solid;
  justify-content: space-around;
  flex-shrink: 2;
}

.related-image {
  height: 250px;
  width: 300px; 
}
  
.text-related {
  display: flex;
  border-style: solid;
  /* margin-bottom: 10rem; */
}